<div class="container py-5">
  <h1>Result</h1>

  <div class="card my-4">
    <div class="card-body">
      <p class="fs-4"><%= @result %></p>
    </div>
  </div>

  <%= link_to "Play again", new_path, class: "btn btn-outline-primary" %>
</div>
